<footer>
    <div class="footer-divider">
        <div class="footer-container">
            <h2 class="footer-title">Redes sociais</h2>
            <div class="footer-content">
                <a class="footer-link" href="https://www.facebook.com/athenassportloja" target="_blank"><span class="material-icons">facebook</span>Facebook</a>
                <a class="footer-link" href="https://www.instagram.com/athenassportloja" target="_blank"><img class="footer-icon" src="img/instagram.svg" alt="">Instagram</a>
            </div>
        </div>
        <div class="footer-container-main">
            <h2 class="footer-title">Endereço</h2>
            <div class="footer-content">
                <p class="footer-text">Duque de Caxias - Shopping Unigranrio</p>
                <iframe class="footer-map" src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d14713.440628946973!2d-43.3063694!3d-22.7891149!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xa8e4a849a1021f93!2sSHOPPING%20UNIGRANRIO!5e0!3m2!1spt-BR!2sbr!4v1616537071859!5m2!1spt-BR!2sbr" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
            </div>
        </div>
        <div class="footer-container">
            <h2 class="footer-title">Contato</h2>
            <div class="footer-content">
                <p class="footer-text"><span class="material-icons">call</span>(21) 2784-1123</p>
                <p class="footer-text"><img src="img/whatsapp.svg" alt="">96184-1123</p>
                <p class="footer-text"><span class="material-icons">mail</span>contato.athenassport@gmail.com</p>
            </div>
        </div>
    </div>
    <div class="copyright">
        <p>Copyright © 2021 Athenas Sport. Todos os direitos reservados.</p>
    </div>
</footer>
