<nav class="navbar">
    <div class="nav-links">
        <a class="logo-container" href="../index.html"><img class="logo" src="../img/athenas-sport-logo-white.svg" alt="Logo da Athenas Sport"></a>
        <div class="nav-operations">
            <form class="search-container" action="pesquisa.html" method="GET">
                <input class="search-box" type="search" name="search" placeholder="Busque por produtos, categorias, etc...">
                <button class="nav-round-button" type="submit"><span class="material-icons md-24 md-light">search</span></button>
            </form>
            <a class="nav-round-button" href="../login.html"><span class="material-icons md-36 md-light">account_circle</span><span id="account-name"></span></a>
            <a class="nav-round-button" href="../cart.html"><span class="material-icons-outlined md-36 md-light">shopping_bag</span></a>
        </div>
    </div>
    <div class="nav-categories">
        <div class="category-dropdown-container">
            <span class="category-button">Para ele</span>
            <div class="category-dropdown">
                <div class="category">
                    <span class="category-title">Roupas</span>
                    <a class="category-link" href="../categorias/camisetas-paraele.html">Camisetas</a>
                    <a class="category-link" href="#">Polos</a>
                    <a class="category-link" href="#">Regatas</a>
                    <a class="category-link" href="#">Camisas de Futebol</a>
                    <a class="category-link" href="#">Bermudas e Shorts</a>
                    <a class="category-link" href="#">Moletons e Casacos</a>
                    <a class="category-link" href="#">Natação</a>
                    <a class="category-link" href="#">Unissex</a>
                </div>
                <div class="category">
                    <span class="category-title">Esportes</span>
                    <a class="category-link" href="../categorias/futebol-paraele.html">Futebol</a>
                    <a class="category-link" href="#">Vôlei</a>
                    <a class="category-link" href="#">Corrida</a>
                    <a class="category-link" href="#">Treino</a>
                    <a class="category-link" href="#">Yoga</a>
                    <a class="category-link" href="#">Skateboarding</a>
                    <a class="category-link" href="#">Basquete</a>
                    <a class="category-link" href="#">Natação</a>
                </div>
                <div class="category">
                    <span class="category-title">Calçados</span>
                    <a class="category-link" href="#">Tênis</a>
                    <a class="category-link" href="#">Chuteiras</a>
                    <a class="category-link" href="#">Treino</a>
                    <a class="category-link" href="#">Skateboarding</a>
                    <a class="category-link" href="#">Chinelos e Sandálias</a>
                </div>
                <div class="category">
                    <span class="category-title">Acessórios</span>
                    <a class="category-link" href="#">Bolsas e Mochilas</a>
                    <a class="category-link" href="#">Máscaras</a>
                    <a class="category-link" href="#">Bonés</a>
                    <a class="category-link" href="#">Meias</a>
                    <a class="category-link" href="#">Bolas</a>
                    <a class="category-link" href="#">Caneleiras</a>
                    <a class="category-link" href="#">Luvas</a>
                    <a class="category-link" href="#">Garrafas</a>
                </div>
            </div>
        </div>
        <div class="category-dropdown-container">
            <span class="category-button">Para ela</span>
            <div class="category-dropdown">
                <div class="category">
                    <span class="category-title">Roupas</span>
                    <a class="category-link" href="../categorias/camisetas-paraela.html">Camisetas</a>
                    <a class="category-link" href="#">Tops</a>
                    <a class="category-link" href="#">Shorts</a>
                    <a class="category-link" href="#">Vetidos</a>
                    <a class="category-link" href="#">Calças e leggins</a>
                    <a class="category-link" href="#">Moletons e Casacos</a>
                    <a class="category-link" href="#">Saias</a>
                    <a class="category-link" href="#">Maiôs</a>
                    <a class="category-link" href="#">Unissex</a>
                </div>
                <div class="category">
                    <span class="category-title">Esportes</span>
                    <a class="category-link" href="#">Futebol</a>
                    <a class="category-link" href="#">Vôlei</a>
                    <a class="category-link" href="#">Corrida</a>
                    <a class="category-link" href="#">Treino</a>
                    <a class="category-link" href="#">Yoga</a>
                    <a class="category-link" href="#">Skateboarding</a>
                    <a class="category-link" href="#">Basquete</a>
                    <a class="category-link" href="#">Natação</a>
                </div>
                <div class="category">
                    <span class="category-title">Calçados</span>
                    <a class="category-link" href="#">Tênis</a>
                    <a class="category-link" href="#">Chuteiras</a>
                    <a class="category-link" href="#">Treino</a>
                    <a class="category-link" href="#">Skateboarding</a>
                    <a class="category-link" href="#">Chinelos e Sandálias</a>
                </div>
                <div class="category">
                    <span class="category-title">Acessórios</span>
                    <a class="category-link" href="#">Bolsas e Mochilas</a>
                    <a class="category-link" href="#">Máscaras</a>
                    <a class="category-link" href="#">Bonés</a>
                    <a class="category-link" href="#">Meias</a>
                    <a class="category-link" href="#">Bolas</a>
                    <a class="category-link" href="#">Caneleiras</a>
                    <a class="category-link" href="#">Luvas</a>
                    <a class="category-link" href="#">Garrafas</a>
                </div>
            </div>
        </div>
        <div class="category-dropdown-container">
            <span class="category-button">Futebol</span>
            <div class="category-dropdown">
                <div class="category">
                    <a class="category-link" href="../categorias/camisetas-futebol.html">Camisetas</a>
                    <a class="category-link" href="#">Regatas</a>
                    <a class="category-link" href="#">Camisas de times</a>
                    <a class="category-link" href="#">Shorts e Bermudas</a>
                    <a class="category-link" href="#">Acessórios</a>
                    <a class="category-link" href="#">Chuteiras</a>
                    <a class="category-link" href="#">Meias</a>
                    <a class="category-link" href="#">Bolas</a>
                    <a class="category-link" href="#">Luvas</a>
                </div>
            </div>
        </div>
        <div class="category-dropdown-container">
            <span class="category-button">Vôlei</span>
            <div class="category-dropdown">
                <div class="category">
                    <a class="category-link" href="#">Camisetas</a>
                    <a class="category-link" href="#">Regatas</a>
                    <a class="category-link" href="#">Shorts e Bermudas</a>
                    <a class="category-link" href="#">Acessórios</a>
                    <a class="category-link" href="#">Meias</a>
                    <a class="category-link" href="#">Bolas</a>
                </div>
            </div>
        </div>
        <div class="category-dropdown-container">
            <span class="category-button">Basquete</span>
            <div class="category-dropdown">
                <div class="category">
                    <a class="category-link" href="#">Camisetas</a>
                    <a class="category-link" href="#">Regatas</a>
                    <a class="category-link" href="#">Shorts e Bermudas</a>
                    <a class="category-link" href="#">Acessórios</a>
                    <a class="category-link" href="#">Meias</a>
                    <a class="category-link" href="#">Bolas</a>
                </div>
            </div>
        </div>
        <div class="category-dropdown-container">
            <span class="category-button">Outros esportes</span>
            <div class="category-dropdown">
                <div class="category">
                    <a class="category-link" href="#">Natação</a>
                    <a class="category-link" href="#">Boliche</a>
                    <a class="category-link" href="#">Golf</a>
                    <a class="category-link" href="#">Corrida</a>
                    <a class="category-link" href="#">Treino</a>
                    <a class="category-link" href="#">Yoga</a>
                    <a class="category-link" href="#">Tênis</a>
                    <a class="category-link" href="#">Rugby</a>
                    <a class="category-link" href="#">Skateboarding</a>
                </div>
            </div>
        </div>
    </div>
</nav>
