<div class="cart-product">
    <img id="product-image" class="cart-product-image" src="" alt="">
    <div class="cart-product-info">
        <div class="cart-product-header">
            <div class="product-header-info">
                <h2 id="product-name" class="cart-product-name"></h2>
                <p id="product-ammount" class="cart-product-ammount">x2</p>
            </div>
            <button id="product-delete" class="cart-delete-button material-icons md-24">delete</button>
        </div>
        <div class="divider"></div>
        <div class="cart-product-size-buttons">
            <div id="product-size" class="cart-product-size"></div>
            <h3 id="product-price" class="cart-product-price"></h3>
        </div>
        <div class="cart-product-price-info">
            <p class="cart-product-stock">Em estoque</p>
        </div>
    </div>
</div>
