.product-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 40px 80px;
}

.product-container {
    width: 100%;
    display: flex;
    gap: 20px;
}

.product {
    min-height: 350px;
    width: 100%;
    padding: 20px;
    display: flex;
    border: 1px solid #b9b9b9;
    gap: 40px;
}

.product-image {
    max-width: 300px;
    object-fit: contain;
}

.product-details {
    width: 100%;
}

.size-buttons {
    margin: 10px 0;
    display: flex;
    gap: 5px;
}
header nav {
    background-color: #000000;
    color: #fff;
}

.navbar-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
}

.logo {
    height: 65px;
    width: 65px;
    position: absolute;
    top: 25px;
}

#divBusca {
    display: flex;
    align-items: center;
}

#txtBusca {
    padding: 8px;
    border: none;
    border-radius: 5px;
    margin-right: 5px;
    position: absolute;
    top: 25px; 
    right: 1000px;
}

#btnBusca {
    height: 30px;
    position: absolute;
    top: 25px; 
    right: 1000px;
}

.nav-links {
    list-style: none;
    display: flex;
    align-items: center;
  
}
.carrinho{
    position: absolute;
    top: 25px;
    left: 1250px;
    
}
.conta{
    position: absolute;
    left: 1200px;
    top: 25px;
}
.logo {
    height: 75px;
    width: 75px;
}
img {
    width: 65px;
    }
    .navbar-container
.nav-links li {
    margin-right: 200px;
    
}

.size-button {
    height: 44px;
    width: 44px;
    margin: 0;
    padding: 0;
    border: 1px solid #b9b9b9;
    border-radius: 50%;
    background-color: transparent;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: .2s;
}

.size-button:hover {
    background-color: #b9b9b9;
}

.size-button.selected {
    border: none;
    background-color: black;
    color: white;
}

.ideal-size-button {
    margin: 0;
    padding: 10px 20px;
    border: none;
    background-color: black;
    color: white;
    cursor: pointer;
}

.product-info {
    padding: 20px;
    border: 1px solid #b9b9b9;
    display: flex;
    flex-direction: column;
}

.availability-info {
    margin: 0;
}

.original-price {
    margin: 10px 0 0 0;
    text-decoration: line-through;
}

.price {
    margin: 0;
    font-size: 38px;
}

.ammount {
    display: flex;
    justify-content: flex-start;
    gap: 10px;
}

.edit-ammount {
    width: 40px;
    height: 40px;
    margin: 0;
    padding: 0;
    border: none;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: black;
    color: white;
    cursor: pointer;
}

.product-ammount {
    border: none;
    border-bottom: 2px solid black;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
  -moz-appearance: textfield;
}

.action-buttons {
    margin-top: auto;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.buy {
    margin: 0;
    padding: 15px;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: black;
    color: white;
    font-weight: 600;
    text-transform: uppercase;
    cursor: pointer;
}

.add-to-cart {
    margin: 0;
    padding: 12px;
    border: 2px solid black;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: transparent;
    cursor: pointer;
    font-weight: 600;
    text-transform: uppercase;
}

.product-informations {
    width: 100%;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
}

.informations-content {
    padding: 20px;
    background-color: #e4e4e4;
}

.modal-container {
    width: 100%;
    height: 100%;
    display: none;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;
}

.modal-container.active {
    display: flex;
}

.dark-overlay {
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: -1;
    background-color: rgba(0, 0, 0, .7);
}

.ideal-size-modal {
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    background-color: white;
}

.modal-divider {
    width: 100%;
    height: 1px;
    background-color: #afafaf;
}

.close-button-container {
    padding: 10px 10px 10px 20px;
    display: flex;
    align-items: center;
    gap: 20px;
}

.modal-title {
    margin: 0;
}

.close-button {
    width: 36px;
    height: 36px;
    margin-left: auto;
    padding: 0;
    border: none;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: transparent;
    cursor: pointer;
}

.close-button:hover {
    background-color: rgba(0, 0, 0, .15);
}

.close-button:active {
    background-color: rgba(0, 0, 0, .25);
}

.modal-content {
    padding: 20px;
    display: flex;
    gap: 20px;
}

.reference-image {
    width: 420px;
}

.modal-inputs {
    width: 280px;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.modal-input-group {
    display: flex;
    flex-direction: column;
    gap: 2px;
}

.modal-button {
    margin-top: auto;
    padding: 14px;
    border: none;
    background-color: black;
    color: white;
    cursor: pointer;
}

.modal-input {
    padding: 5px;
    border: 1px solid black;
}

.ideal-size-result {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 50px;
}

.ideal-size-result p, .ideal-size-result h1 {
    margin: 0;
}

.ideal-size-result h1{
    font-size: 56px;
}
