body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

header nav {
    background-color: #000000;
    color: #fff;
}

.navbar-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
}

.logo {
    height: 75px;
    width: 75px;
}

#divBusca {
    display: flex;
    align-items: center;
}

#txtBusca {
    padding: 8px;
    border: none;
    border-radius: 5px;
    margin-right: 5px;
}

#btnBusca {
    height: 30px;
}

.nav-links {
    list-style: none;
    display: flex;
    align-items: center;
}

.nav-links li {
    margin-left: 20px;
}

.icon {
    height: 30px;
    width: 30px;
}

.menu-toggle {
    display: none;
    cursor: pointer;
    font-size: 30px;
    color: #fff;
}

.nav-menu {
    list-style: none;
    display: flex;
    margin: 0;
}

.nav-menu li {
    margin-left: 20px;
}

.nav-menu a {
    color: #fff;
    text-decoration: none;
    font-size: 18px;
}

.product-section {
    padding: 40px 20px;
    text-align: center;
    background-color: #f4f4f4;
}

.product-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
    max-width: 1200px;
    margin: 0 auto;
}

.product-card {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 10px;
    padding: 20px;
    text-align: center;
    transition: transform 0.3s, box-shadow 0.3s;
}

.product-card:hover {
    transform: translateY(-10px);
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
}

.product-image {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
}

.product-card h3 {
    font-size: 20px;
    margin: 15px 0;
}

.product-card p {
    font-size: 16px;
    color: #666;
    margin: 10px 0;
}

.price {
    font-size: 22px;
    color: #232F3E;
    margin: 15px 0;
    font-weight: bold;
}

button {
    padding: 10px 20px;
    background-color: #232F3E;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #1d2630;
}

/* Responsividade */
@media (max-width: 768px) {
    .nav-menu {
        display: none;
        flex-direction: column;
        width: 100%;
    }

    .nav-menu.active {
        display: flex;
    }

    .menu-toggle {
        display: block;
    }

    .navbar-container {
        justify-content: space-between;
    }
}
